mk-sign-in
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center
  mat-card
    text-align: center
    .sign-in-with-google-button
      span.text
        margin-left: 10px
