<mk-header>
  <span>Home</span>
</mk-header>

<div class="content-wrapper">
  <div class="statistics">
    <h2 class="text-center m-t-0 p-t-05">{{today | date: 'MMMM'}}</h2>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="chart-selector">
      <mat-icon>{{widget === Widgets.spedingsByPerson ? 'pie_chart' : 'show_chart'}}</mat-icon>
      <span>{{widget === Widgets.spedingsByPerson ? 'By person' : 'By time'}}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setWidget(Widgets.spedingsToLimit)">
        <mat-icon>show_chart</mat-icon>
        <span>By time</span>
      </button>
      <button mat-menu-item (click)="setWidget(Widgets.spedingsByPerson)">
        <mat-icon>pie_chart</mat-icon>
        <span>By person</span>
      </button>
    </mat-menu>
    <div class="widgets-wrapper" [ngSwitch]="widget">
      <mk-widget-spendings-by-person *ngSwitchCase="Widgets.spedingsByPerson"></mk-widget-spendings-by-person>
      <mk-widget-spendings-to-limit *ngSwitchCase="Widgets.spedingsToLimit"></mk-widget-spendings-to-limit>
    </div>
  </div>

  <div class="add-expenses">
    <h3 class="text-center">Add expense</h3>
    <div class="items">
      <div *ngFor="let category of categories$ | async"
           (click)="addExpense(category)"
           class="item">
        <button mat-fab>
          <mat-icon>{{category.icon}}</mat-icon>
        </button>
        <span>{{category.name | truncate:9}}</span>
      </div>
      <div class="item">
        <button mat-fab
                color="grey"
                class="add-category-button mat-elevation-z2"
                (click)="addCategory()">
          <mat-icon>add</mat-icon>
        </button>
        <span>Category</span>
      </div>
    </div>
  </div>
</div>
