<mat-sidenav-container>
  <mat-sidenav #sidenav
               (backdropClick)="sidenav.close()"
               (keydown.escape)="sidenav.close()"
               (click)="sidenav.close()">
    <mk-accounts></mk-accounts>
    <mk-menu></mk-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button
                (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
