mk-public-home
  display: flex
  align-items: center
  justify-content: center
  .wrapper
    width: 300px
    text-align: justify
    h1
      font-size: 24px

    > img
      height: 150px

    .authors
      margin-top: 50px
      .avatars
        display: flex
        align-items: center
        justify-content: space-around
        img
          border-radius: 50%
      .message
        margin-top: 0
        margin-bottom: 0
      .header
        text-align: center
