<mat-card>
  <h1>Welcome to Money Keeper!</h1>
  <h4>Track your expenses > Enjoy useful statistics > Organize your budget</h4>

  <p>
    <button mat-raised-button [routerLink]="['/public/sign-in']">Sign in</button>
  </p>

  <hr/>

  <div class="authors">
    <h4 class="header">About authors</h4>
    <div class="avatars">
      <a href="https://github.com/spy4x" target="_blank">
        <img src="https://avatars3.githubusercontent.com/u/4995814?s=100&v=4" alt="Anton"/>
      </a>
      <a href="https://github.com/urnix" target="_blank">
        <img src="https://avatars3.githubusercontent.com/u/7656366?s=100&v=4" alt="Artem"/>
      </a>
    </div>
    <p class="message">Hi there! We are Anton & Artem and we’ve created this tool for you to make your life easier.
      Using this app you
      can track what is a waste of money and what helps you to achieve your long range goals.</p>
  </div>
</mat-card>
