<mk-header>
  <span>Expenses</span>
</mk-header>

<!--<mat-button-toggle-group [value]="mode" (change)="changePage($event)" class="m-b-1">-->
<!--<mat-button-toggle value="logs">-->
<!--Logs-->
<!--</mat-button-toggle>-->
<!--<mat-button-toggle value="statistics">-->
<!--Statistics-->
<!--</mat-button-toggle>-->
<!--</mat-button-toggle-group>-->

<!--<mat-tab-group class="demo-tab-group">-->
<!--<mat-tab label="Tab 1">-->
<!--<div class="demo-tab-content">-->
<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
<!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
<!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
<!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
<!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
<!--</div>-->
<!--</mat-tab>-->
<!--<mat-tab label="Tab 2">-->
<!--<div class="demo-tab-content">-->
<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
<!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
<!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
<!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
<!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
<!--</div>-->
<!--</mat-tab>-->

<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'logs'">
    <div class="content-wrapper content-wrapper--no-initial-padding">
      <div class="days">
        <mat-card class="day mat-elevation-z1" *ngFor="let expenseGroup of expensesGroup$ | async">
          <h4 class="date">
            <span>{{expenseGroup.date | date:'d LLLL'}}</span>
            <span>Total:
              <span *ngFor="let currencyTotal of expenseGroup.total; let last = last">
                {{currencyTotal.total}}{{getCurrencySymbol$({id:currencyTotal.currencyId}) | async}}{{last ? '' : ', '}}
              </span>
            </span>
          </h4>
          <div mat-card-image>
            <mat-list>
              <mat-divider></mat-divider>
              <ng-container *ngFor="let expense of expenseGroup.items">
                <a [routerLink]="['/expenses/' + expense.id]" class="expense-link">
                  <mat-list-item *ngIf="getAuthor$(expense.createdBy) | async as author" class="expense">
                    <img *ngIf="isMoreThanOneUserInGroup$() | async" matListAvatar [src]="author.photoURL">

                    <h4 matLine *ngIf="expense.comment">{{expense.comment}}</h4>
                    <div matLine class="additional-info">
                      <div *ngIf="isMoreThanOneUserInGroup$() | async"
                           class="text-with-icon">
                        <span>{{author.displayName | truncate:20}}</span>
                        <span>in</span>
                      </div>
                      <div *ngIf="getCategory$(expense.category) | async as category"
                           class="text-with-icon">
                        <mat-icon class="mat-icon--xs">{{category.icon}}</mat-icon>
                        <span>{{category.name | truncate:20}}</span>
                      </div>
                    </div>
                    <div class="amount">
                      <div>{{expense.value}} {{getCurrencySymbol$(expense.currency) | async}}</div>
                      <div class="tags">
                      <span *ngFor="let tag of getTags$(expense.tags) | async">
                        <span [ngStyle]="{'color': tag.color}">{{tag.name}}</span>
                      </span>
                      </div>
                    </div>
                  </mat-list-item>
                </a>
                <mat-divider></mat-divider>
              </ng-container>
            </mat-list>
          </div>
          <h4 class="total">
            <span>Total:
              <span *ngFor="let currencyTotal of expenseGroup.total; let last = last">
                {{currencyTotal.total}}{{getCurrencySymbol$({id:currencyTotal.currencyId}) | async}}{{last ? '' : ', '}}
              </span>
            </span>
          </h4>
        </mat-card>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'statistics'">
    <h4>Not implemented yet.</h4>
  </ng-container>
</ng-container>

<button mat-fab
        color="primary"
        routerLink="/expenses/create">
  <mat-icon>add</mat-icon>
</button>
