<mat-nav-list>
  <a mat-list-item routerLink="/expenses"
     routerLinkActive="mat-list-item-active"
     [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a mat-list-item routerLink="/expenses/add"
     routerLinkActive="mat-list-item-active"
     [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>add</mat-icon>
    <span>Add expense</span>
  </a>
  <a mat-list-item routerLink="/expenses/logs"
     routerLinkActive="mat-list-item-active"
     [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>show_chart</mat-icon>
    <span>Logs & Statistics</span>
  </a>
  <a mat-list-item href="javascript:;"
     routerLinkActive="mat-list-item-active"
     [routerLinkActiveOptions]="{exact:true}"><!--routerLink="/expenses/categories"-->
    <mat-icon>toc</mat-icon>
    <span>Categories</span>
  </a>
  <a mat-list-item href="javascript:;"
     routerLinkActive="mat-list-item-active"
     [routerLinkActiveOptions]="{exact:true}"><!--routerLink="/expenses/categories"-->
    <mat-icon>label_outline</mat-icon>
    <span>Tags</span>
  </a>
</mat-nav-list>
