@import "~@angular/material/prebuilt-themes/indigo-pink.css"

body
  margin: 0
  font-family: Roboto, sans-serif

.m-t-0
  margin-top: 0

.m-b-0
  margin-bottom: 0
.m-b-1
  margin-bottom: 10px

form
  mat-form-field
    width: 100%

.cursor-pointer
  cursor: pointer

.text-center
  text-align: center

mat-sidenav-container
  position: absolute !important
  top: 0
  bottom: 0
  left: 0
  right: 0
  mat-sidenav
    width: 250px

    hr
      margin-top: 20px
      margin-bottom: -5px

    mat-nav-list
      span
        margin-left: 10px

  mat-sidenav-content
    .content-wrapper
      padding: 10px
